/* table{
    margin: 0 auto;
}
.report-table,
th,
td {

  text-align: center;
  border: 1px solid seagreen;
}
.products-table {
  border: 1px solid sandybrown;
}
.report-header {
  text-align: center;
  color: green;
  padding-bottom: 10px;
} */
